.vector01{
    position: absolute;
    top: 40%;
    right: 10%;

}

.Addform{
    padding-left: 12%;
}
.Addform h2{
    padding-bottom: 10%;
    font-size: 50px;
    color: #194e3c;
}
.form-group{
    display: flex;
}
.form-group label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
}
.form-group input{
    width: 30%;
    display: inline-block;
    height: 50px;
    border: none;
    background-color: #497b7f24;
    float: right;
    font-size: 20px;
}

.button{
    background-color: #194e3c;
    border:none;
    padding: 10px;
    width: 100px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 38%;
    margin-bottom: 100px;

}


@media (max-width: 1500px) {
    .vector01{
        position: absolute;
        top: 40%;
        right: 30%;
        width: 50px;
        height: 50px;
    }
  }

  @media (max-width: 1600px) {
    .vector01{
        position: absolute;
        top: 50%;
        right: 40%;
        width: 50px;
        height: 50px;
    }
  }
  